@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

:root {
  --primary-color: #E2CA6A;
  --secondary-color: #E18D2D;
  --bg-color: #2D2E2F;
  --white-color: #FFFFFF;

  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.6rem;
  background-color: var(--bg-color);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
  padding: 2rem;
}

.logo {
  width: 100%;
  max-width: 54.3rem;
  filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.25));
}

.subtitle {
  font-size: 1.8rem;
  color: var(--white-color);
  text-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
}

.notice {
  font-size: 4rem;
  text-transform: uppercase;
  color: var(--white-color);
  text-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
  margin-top: 15rem;
}

@keyframes movingLight1 {
  to {
    right: calc((-36.8rem / 2) + 100vw);
    top: calc((-36.8rem / 2) + 100vh);
  }
}

@keyframes movingLight2 {
  to {
    left: calc((-36.8rem / 2) + 100vw);
    bottom: calc((-36.8rem / 2) + 100vh);
  }
}

.light-1 {
  width: 36.8rem;
  height: 36.8rem;
  border-radius: 100%;
  background-color: var(--primary-color);
  filter: blur(20rem);
  position: absolute;
  top: calc(-36.8rem / 2);
  right: calc(-36.8rem / 2);
  animation: movingLight1 5s ease-in infinite alternate;
}

.light-2 {
  width: 36.8rem;
  height: 36.8rem;
  border-radius: 100%;
  background-color: var(--secondary-color);
  filter: blur(20rem);
  position: absolute;
  bottom: calc(-36.8rem / 2);
  left: calc(-36.8rem / 2);
  animation: movingLight2 5s ease-in infinite alternate;
}

@media screen and (max-width: 570px) {
  .subtitle {
    font-size: 1.5rem;
  }

  .notice {
    font-size: 3.5rem;
  }
}
