@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

:root {
  --primary-color: #E2CA6A;
  --secondary-color: #E18D2D;
  --bg-color: #2D2E2F;
  --white-color: #FFFFFF;

  --light-size: 45rem;

  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.6rem;
  background-color: var(--bg-color);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
  padding: 2rem;
}

.logo {
  width: 100%;
  max-width: 54.3rem;
  margin-bottom: 2.5rem;
}

.subtitle {
  font-size: 1.8rem;
  color: var(--white-color);
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.notice {
  font-size: 4rem;
  text-transform: uppercase;
  color: var(--white-color);
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  margin-top: 15rem;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -5;
}

@keyframes movingLight1 {
  25%{
    right: calc(((var(--light-size) / 2) * -1) + 100vw);
  }
  50% {
    top: calc(((var(--light-size) / 2) * -1) + 100vh);
  }
  75% {
    right: 0;
  }
  100% {
    top: 0;
  }
}

@keyframes movingLight2 {
  25% {
    left: calc(((var(--light-size) / 2) * -1) + 100vw);
  }
  50% {
    bottom: calc(((var(--light-size) / 2) * -1) + 100vh);
  }
  75% {
    left: 0;
  }
  100% {
    bottom: 0;
  }
}

.light-1 {
  width: var(--light-size);
  height: var(--light-size);
  border-radius: 100%;
  background-color: var(--primary-color);
  opacity: .5;
  filter: blur(80px);
  position: absolute;
  top: calc((var(--light-size) / 2) * -1);
  right: calc((var(--light-size) / 2) * -1);
  z-index: -1;
  animation: movingLight1 15s ease-out infinite forwards;
}

.light-2 {
  width: var(--light-size);
  height: var(--light-size);
  border-radius: 100%;
  background-color: var(--secondary-color);
  opacity: .5;
  filter: blur(80px);
  position: absolute;
  bottom: calc((var(--light-size) / 2) * -1);
  left: calc((var(--light-size) / 2) * -1);
  z-index: -1;
  animation: movingLight2 15s ease-out infinite alternate;
}

@media screen and (max-width: 570px) {
  :root {
    --light-size: 30rem;
  }
  .subtitle {
    font-size: 1.3rem;
  }

  .notice {
    font-size: 3rem;
  }

  .light-1 {
    animation: none;
  }

  .light-2 {
    animation: none;
  }
}
