@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;1,400&display=swap');

:root {
  --primary-color: #E2CA6A;
  --secondary-color: #E18D2D;
  --bg-color: #2D2E2F;
  --white-color: #FFFFFF;
  --gradient-color: linear-gradient(90deg, #F2D330 0%, #E18D2D 100%);

  --light-size: 45rem;

  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  line-height: 3.5rem;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

input, textarea, button {
  all: unset;
}

body {
  font-size: 1.6rem;
  background-color: var(--bg-color);
  color: var(--white-color);
  scroll-behavior: smooth;
  scroll-snap-align: center;
  scroll-snap-type: y mandatory;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
  padding: 2rem;
}

.logo {
  width: 100%;
  max-width: 54.3rem;
  margin-bottom: 2.5rem;
}

.subtitle {
  font-size: 1.8rem;
  font-weight: 600;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -5;
}

@keyframes movingLight1 {
  25%{
    right: calc(((var(--light-size) / 2) * -1) + 100vw);
  }
  50% {
    top: calc(((var(--light-size) / 2) * -1) + 100vh);
  }
  75% {
    right: 0;
  }
  100% {
    top: 0;
  }
}

@keyframes movingLight2 {
  25% {
    left: calc(((var(--light-size) / 2) * -1) + 100vw);
  }
  50% {
    bottom: calc(((var(--light-size) / 2) * -1) + 100vh);
  }
  75% {
    left: 0;
  }
  100% {
    bottom: 0;
  }
}

.header .light-1 {
  width: var(--light-size);
  height: var(--light-size);
  border-radius: 100%;
  background-color: var(--primary-color);
  opacity: .5;
  filter: blur(80px);
  position: absolute;
  top: calc((var(--light-size) / 2) * -1);
  right: calc((var(--light-size) / 2) * -1);
  z-index: -1;
  /* animation: movingLight1 15s ease-out infinite forwards; */
}

.header .light-2 {
  width: var(--light-size);
  height: var(--light-size);
  border-radius: 100%;
  background-color: var(--secondary-color);
  opacity: .5;
  filter: blur(80px);
  position: absolute;
  bottom: calc((var(--light-size) / 2) * -1);
  left: calc((var(--light-size) / 2) * -1);
  z-index: -1;
  /* animation: movingLight2 15s ease-out infinite alternate; */
}

.main {
  width: 100%;
  max-width: 85rem;
  margin: 0 auto;
}

.about {
  position: relative;
  padding-bottom: 20rem;
}

.about__vector {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 57rem;
  background: url(./assets/vector-1.svg) no-repeat;
  background-size: contain;
  background-position: bottom;
}

.about__title {
  max-width: 52rem;
  margin-bottom: 2rem;
  padding-left: 6rem;
}

.about__text {
  max-width: 42rem;
  line-height: 2.3rem;
  margin-bottom: 2rem;
  padding-left: 6rem;
}

.companies {
  position: relative;
  padding-top: 17rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.companies__vector {
  position: absolute;
  top: 0;
  width: 100%;
  height: 66rem;
  background: url(./assets/vector-2.svg) no-repeat;
  background-size: contain;
  background-position: top;
}

.companies__title {
  max-width: 40rem;
  text-align: right;
  margin-bottom: 20rem;
  padding-right: 6rem;
}

.companies__title span {
  font-style: italic;
}

.companies__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 23rem;
  padding: 6rem;
  width: 100%;
}

.features {
  margin-bottom: 10rem;
  padding-inline: 6rem;
}

.features__title {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 10rem;
}

.features__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2.5rem;
  row-gap: 6rem;
}

.features__list-item {
  text-align: center;
  font-weight: 600;
}

.features__list-item img {
  margin-bottom: 2rem;
}

.team {
  margin-bottom: 12rem;
  position: relative;
  overflow: hidden;
}

.team__separator {
  width: 120%;
  height: 38rem;
  border-radius: 100%;
  transform: translateX(-10%);
  background: linear-gradient(180deg, rgba(242, 211, 48, 0.13) 0%, rgba(245, 167, 0, 0) 43.01%);
  position: absolute;
}

.team__title {
  text-align: center;
  margin-bottom: 15rem;
  padding-top: 20rem;
}

.team__list {
  display: flex;
  column-gap: 18rem;
  justify-content: center;
}

.team__list-item {
  text-align: center;
  line-height: 2.5rem;
}

.team__list-item img {
  border-radius: 100%;
  margin-bottom: 2rem;
}

.team__list-item__name {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 600;
}

.team__list-item__position {
  font-weight: 300;
  margin-bottom: 1rem;
}

.team__list-item__socials {
  display: flex;
  justify-content: center;
  column-gap: 1rem;
}

.contact {
  position: relative;
  padding-inline: 6rem;
}

.contact__title {
  text-align: center;
  margin-bottom: 5rem;
}

.contact__form {
  display: flex;
  flex-direction: column;
}

.contact__form input,
.contact__form textarea {
  border-bottom: 1px solid var(--white-color);
  padding: .5rem;
  margin-bottom: 2.5rem;
}

.contact__form input::placeholder,
.contact__form textarea::placeholder {
  color: var(--white-color);
}

.contact__form button {
  background: var(--gradient-color);
  font-weight: 600;
  align-self: flex-end;
  font-size: 1.7rem;
  padding: 1rem 3rem;
  text-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
  border-radius: .6rem;
  cursor: pointer;
}

@keyframes floatingLights {
  to {
    transform: translateY(-10rem);
  }
}

.contact .light-1 {
  width: calc(var(--light-size) / 2);
  height: calc(var(--light-size) / 2);
  border-radius: 100%;
  background-color: var(--primary-color);
  opacity: .5;
  filter: blur(40px);
  position: absolute;
  top: 0;
  left: calc((var(--light-size) / 2) * -2);
  z-index: -1;
  animation: floatingLights 5s ease-in-out infinite alternate;
}

.contact .light-2 {
  width: calc(var(--light-size) / 2);
  height: calc(var(--light-size) / 2);
  border-radius: 100%;
  background-color: var(--secondary-color);
  opacity: .5;
  filter: blur(40px);
  position: absolute;
  bottom: 0;
  right: calc((var(--light-size) / 2) * -2);
  z-index: -1;
  animation: floatingLights 5s ease-in-out infinite alternate-reverse;
}

.footer {
  padding: 2.5rem;
  text-align: center;
}

@media screen and (max-width: 570px) {
  :root {
    --light-size: 30rem;
  }
  .subtitle {
    font-size: 1.3rem;
  }

  .notice {
    font-size: 3rem;
  }

  .light-1 {
    animation: none;
  }

  .light-2 {
    animation: none;
  }
}
